body {
  background-color: #CCCCFA;
}
header {
  display: block;
  width: 100%;
  height: 200px;
  background-color: gold;
}
.tabs{
  background-color: orange;
}
.main {
  width: 1200px;
  background-color: red;
  margin: auto;
}
.candidate {
  float: left;
  display: block;
  box-sizing: border-box;
  width: 19.5%;
  position: relative;
  overflow: hidden;
  margin: 0.25%;
  transition: filter .1s ease-in;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  mix-blend-mode: luminosity;
}
.candidate:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 7px grey;
  mix-blend-mode: inherit;
}
.candidate:hover .sub {
  min-height: 88px;
}
.candidate:hover div[class^='vote'] {
  margin-bottom: 13px;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.candidate .sub {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transition: min-height .2s;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1;
  min-height: 80px;
}
.sub div[class^='vote'] {
  cursor: pointer;
  transition: margin-bottom .2s, color .2s;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 35px;
  margin-right: 8px;
  margin-bottom: 2px;
}
.sub div[class^='vote']:hover {
  color: #76ff03;
}
.sub div.voted {
  color: #76ff03;
  cursor: initial;
} 
.sub .point {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  margin-top: 5px;
  transition: color .2s;
  color: tomato;
}
.point:before {
  content: '+';
}
.sub p {
  color: lightgrey;
  margin: 8px;
  width: 80%;
}
.sub .name {
  color: white;
  font-size: 15px;
  font-weight: bold;
  width: 7%;
}


























